<a href="/users/logout" class="btn btn-secondary" style="float: right; padding-top, padding-bottom: 4px;">Logout</a>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<form class="counselling">
  <div class="dropdown">
    <a href="dashboard/users/Habits" class="dropbtn">Habits</a>
  </div><br>
  <div class="dropdown">
    <a href="dashboard/users/Sleep" class="dropbtn">Sleep</a>
  </div><br>
  <div class="dropdown">
    <a href="dashboard/users/Exercise" class="dropbtn">Exercise</a>
  </div><br>
  <div class="dropdown">
    <a href="dashboard/users/Ergonomics" class="dropbtn">Ergonomics</a>
  </div><br>
</form>
