<style>
.submit_btn button:hover {
  background-color: #555;
  color: white;
}
.submit_btn button{
  float: right; 
  text-decoration: none; 
  background-color: #3498DB; 
  color: black;
  padding: 12px;
  border-radius: 12px;
}
</style>
<a href="/users/logout" class="btn btn-secondary" style="float: right; padding-top, padding-bottom: 4px;">Logout</a>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <strong style="font-weight: lighter; " id="name"><%= user.name %></strong></p>
     <h4>Answer the following questions</h4>
     <form id="quiz" name="quiz">
        Do You smoke<br>
        <label class="container">
          <input type="radio" class="mc1" id="mc" onclick="" name="question1" value="yes">Yes<br>
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" class="mc2" id="mc" name="question1" value="no">No<br>
          <span class="checkmark"></span>
        </label>
          <div id="sub" style="visibility: hidden;">How many cigarettes do you smoke a day?<br>
              <input type="text" id="mc12" name="question12"><br>
          </div>
          Do you drink?<br>
        <label class="container">
          <input type="radio" class="mc3" id="mc" name="question2" value="yes">Yes<br>
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" class="mc4" id="mc" name="question2" value="no">No<br>
          <span class="checkmark"></span>
        </label>
        Do you have a good diet?<br>
        <label class="container">
          <input type="radio" class="mc5" id="mc" name="question3" value="yes">Yes<br>
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" class="mc6" id="mc" name="question3" value="no">No<br>
          <span class="checkmark"></span>
        </label>
     </form>
     <div id="output" name="output"></div>

     <button name="submit" >Submit</button>

<p id="message"></p>
<p id="number_correct"></p>