<body>
  <!--business-->
  <div class="Business" style="max-width: 20rem;">
    <div class="Business-header">Business</div>
    <div class="Business-body">
      <h4 class="Business-title">Why study business</h4>
      <p class="Business-text">
        Business and related subjects (such as the FAME group – finance, accounting,<br> management and economics) are among the most popular fields of study at<br> universities worldwide, particularly at the graduate level. You might have some vague <br> ideas about why this is the case – business graduates are in high demand<br> worldwide, business touches on pretty much every aspect of modern human society, careers with a business degree are diverse and often highly paid – and these assumptions are likely to be largely true.
        </p>
    </div>
    <div class = "Business-header2"><h2>Top Programs</h2></div>
    <div class = "Business-programs">
      <ul>
        <li>B.S in Entrepreneurship</li>
        <li>B.S in E-commerce</li>
        <li>B.S in Marketing</li>
      </ul>
    </div>
  </div>
  <!--Technology-->

  <div class="Technology" style="max-width: 20rem;">
    <div class="Technology-header">Business</div>
    <div class="Technology-body">
      <h4 class="Technology-title">Why study Technology</h4>
      <p class="Technology-text">
        This ever-changing field is constantly evolving as new forms of technology are<br> introduced. That makes it a great choice if you want a dynamic career that will keep<br> you learning and gaining new skills. In addition to the new tech skills you’ll develop,<br> you’ll also benefit from learning the basics of logic, design and engineering. A good<br> foundation in these disciplines won’t just help you write code and de-bug software –<br> they’ll help you in other areas of your life and studies, too. When you major in<br> Computers and Technology, you’ll have the opportunity to be involved in innovation<br> and to do work that has a real impact on society. And aside from those intrinsic<br> rewards, you’ll also be very well compensated! With just a<br> bachelor’s degree and a few years of experience, you could find yourself earning more than $100,000 a year  
      </p>
    </div>
    <div class = "Technology-header2"><h2>Top Programs</h2></div>
    <div class = "Technology-programs">
      <ul>
        <li>B.S Computer Science</li>
        <li>B.S Electrical Engineering</li>
        <li>B.S Information Technology</li>
      </ul>
    </div>
  </div>


<!--Healthcare-->
  <div class="Healthcare" style="max-width: 20rem;">
    <div class="Healthcare-header">Business</div>
    <div class="Healthcare-body">
      <h4 class="Healthcare-title">Why study business</h4>
      <p class="Healthcare-text">
        The healthcare field is one of the biggest and rapidly growing fields today. The <br> ageing population has been the primary reason for the growth spurt of this field in the <br> past couple of years. As the baby boomers grow old, there will be an increasing <br>number of people who will need special age-related care. Furthermore, in the past <br> couple of years, more and more people are becoming health conscious. They want <br>to remain fit and take care of themselves. They make regular checkup appointments <br> with their doctors to ensure they are fit and leading a healthy life. Due to these <br>reasons, the healthcare industry is flourishing, and it needs more professionals.
        </p>
    </div>
    <div class = "Healthcare-header2"><h2>Top Programs</h2></div>
    <div class = "Healthcare-programs">
      <ul>
        <li>Dental Hygenist</li>
        <li>Doctor</li>
        <li>Registered Nurse</li>
      </ul>
    </div>
  </div>

   <!--Public relations-->
   <div class="Public Relations" style="max-width: 20rem;">
    <div class="Public Relations-header">Public Relations</div>
    <div class="Public Relations-body">
      <h4 class="Public Relations-title">Why study Public Relations</h4>
      <p class="Public Relations-text">
        Public Relations is an excellent field to go into because it is important for every<br> business and organization. The skills within the field such as writing, speaking,<br> research and establishing relationships are important to any job so you will graduate<br> prepared with real-world skills. There are so many job opportunities within public<br> relations that span from nonprofit organizations to PR firms to high-powered<br> businesses. If you like a fast-paced, exciting environment where every day will be a<br> challenge, then you should study public relations.  
      </p>
    </div>
    <div class = "Public Relations-header2"><h2>Top Programs</h2></div>
    <div class = "Public Relations-programs">
      <ul>
        <li>Public relations Management</li>
        <li>Professional Communications</li>
        <li>Rhetorics, writing, and Communications</li>
      </ul>
    </div>
  </div>
</body>
 
  

