<body>
  <div class="Business" style="max-width: 20rem;">
    <div class="Business-header">Business</div>
    <div class="Business-body">
      <h4 class="Business-title">Why study business</h4>
      <p class="Business-text">
        Business and related subjects (such as the FAME group – finance, accounting,<br> management and economics) are among the most popular fields of study at<br> universities worldwide, particularly at the graduate level. You might have some vague <br> ideas about why this is the case – business graduates are in high demand<br> worldwide, business touches on pretty much every aspect of modern human society, careers with a business degree are diverse and often highly paid – and these assumptions are likely to be largely true.
        </p>
    </div>
  </div>

</body>