<style>
.submit_btn a:hover {
  background-color: #555;
  color: white;
}
.submit_btn a{
  float: right; 
  text-decoration: none; 
  background-color: #3498DB; 
  color: black;
  padding: 12px;
  border-radius: 12px;
}
</style>
<a href="/users/logout" class="btn btn-secondary" style="float: right; padding-top, padding-bottom: 4px;">Logout</a>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<form>
    <div class="question-one">
      <h3>Do you smoke?</h3>
      <label>Yes
        <input type="radio" name="radio" value="yes">
        <span class="checkmark_one"></span>
      </label>
      <label>No
        <input type="radio" name="radio" value="no">
        <span class="checkmark_one"></span>
      </label>
    </div><br>
</form>
<form>
    <div class="question-two">
      <h3>Do you drink?</h3>
      <label>Yes
        <input type="radio" name="radio" value="yes">
        <span class="checkmark_two"></span>
      </label>
      <label>No
        <input type="radio" name="radio" value="no">
        <span class="checkmark_two"></span>
      </label>
    </div><br>
</form>
<form>
    <div class="question-three">
      <h3>Do you have a good diet?</h3>
      <label>Yes
        <input type="radio" name="radio" value="yes">
        <span class="checkmark_three"></span>
      </label>
      <label>No
        <input type="radio" name="radio" value="no">
        <span class="checkmark_three"></span>
      </label>
    </div><br>
</form>
<div class="submit_btn">
    <a href="dashboard/users/Sleeps/Sleeps">Submit</a>
</div>