<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fa fa-user-md" style="font-size: 100px;"></i></h1>
      <p>Welcome to PETD Portal</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register New Patient</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login With Patient</a>
    </div>
  </div>
</div>
